@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
  font-family: 'Lobster', cursive;
}
// This is needed in order to add or hide the 'hide' elements
.hide {
  display: none;
}

a {
  font-size: 32px;
}

.border {
  margin-bottom: 10px;
}

.movieTitle {
  // margin: 12px;
  padding: 13px;
}

#watchBtn {
  margin-right: 5px;
}

#watchBtn:hover {
  cursor: pointer;
}

.been-added {
  display: none;
}

#createMovieButton, #backButton {
  margin: 15px;
}