@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
}
// This is needed in order to add or hide the 'hide' elements
.hide {
  display: none;
}

.border {
  margin: 10px;
}

#watchBtn {
  margin-right: 5px;
}

#watchBtn:hover {
  cursor: pointer;
}

.been-added {
  display: none;
}